Data Cleaning Project: NYC Airbnb Open Data

Data cleaning is a critical part of the data analysis pipeline. This notebook will guide you through cleaning the NYC Airbnb dataset, addressing missing values, duplicates, inconsistencies, and outliers.

In [2]:
# Importing necessary libraries
import pandas as pd
import numpy as np

Load the Dataset

We'll load the dataset and inspect its structure. Ensure you have downloaded the dataset from [NYC Airbnb Open Data](https://www.kaggle.com/datasets/dgomonov/new-york-city-airbnb-open-data).

In [8]:
# Load the dataset
file_path = r"task2\AB_NYC_2019.csv"  # Replace with your local path or use Kaggle API to download
data = pd.read_csv(file_path)

In [9]:
# Display initial dataset information
print("Initial Dataset Information:")
print(data.info())

Initial Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB
None

In [11]:
print("\nMissing Values:\n", data.isnull().sum())

Missing Values:
 id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

Handle Missing Values

We will:
- Fill missing values in the `reviews_per_month` column with 0.
- Drop rows with missing values in the `name` and `host_name` columns as these are critical fields.

In [12]:
# Handle missing values
data['reviews_per_month'].fillna(0, inplace=True)
data.dropna(subset=['name', 'host_name'], inplace=True)

C:\Users\admin\AppData\Local\Temp\ipykernel_4172\1433176631.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['reviews_per_month'].fillna(0, inplace=True)

Remove Duplicate Rows

Remove duplicate entries to ensure the uniqueness and integrity of the data.

In [13]:
# Remove duplicate rows
data = data.drop_duplicates()


Standardize Data Formats

Standardize string columns by converting all text to lowercase for consistency.
python

In [14]:
# Converting all string columns to lowercase for consistency
string_columns = data.select_dtypes(include='object').columns
data[string_columns] = data[string_columns].apply(lambda x: x.str.lower())

Detect and Handle Outliers

Outliers in the `price` column can skew the analysis. We'll use the Interquartile Range (IQR) method to identify and remove these outliers.

In [15]:
# Detecting outliers in the 'price' column
Q1 = data['price'].quantile(0.25)
Q3 = data['price'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Remove rows with price outliers
data = data[(data['price'] >= lower_bound) & (data['price'] <= upper_bound)]

Optimize Data Types

Convert data types for better memory usage and computational efficiency.

In [17]:
# Data type conversions for efficiency
data['last_review'] = pd.to_datetime(data['last_review'], errors='coerce')  # Convert to datetime
data['id'] = data['id'].astype(int)  # Ensure 'id' is integer

Review Cleaned Data

Inspect the cleaned dataset and check for any remaining issues.

In [18]:
# Final dataset summary
print("\nCleaned Dataset Information:")
print(data.info())
print("\nMissing Values After Cleaning:\n", data.isnull().sum())

Cleaned Dataset Information:
<class 'pandas.core.frame.DataFrame'>
Index: 45887 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              45887 non-null  int64
 1   name                            45887 non-null  object
 2   host_id                         45887 non-null  int64
 3   host_name                       45887 non-null  object
 4   neighbourhood_group             45887 non-null  object
 5   neighbourhood                   45887 non-null  object
 6   latitude                        45887 non-null  float64
 7   longitude                       45887 non-null  float64
 8   room_type                       45887 non-null  object
 9   price                           45887 non-null  int64
 10  minimum_nights                  45887 non-null  int64
 11  number_of_reviews               45887 non-null  int64
 12  last_review                     36889 non-null  datetime64[ns]
 13  reviews_per_month               45887 non-null  float64
 14  calculated_host_listings_count  45887 non-null  int64
 15  availability_365                45887 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(7), object(5)
memory usage: 6.0+ MB
None

Missing Values After Cleaning:
 id                                   0
name                                 0
host_id                              0
host_name                            0
neighbourhood_group                  0
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
price                                0
minimum_nights                       0
number_of_reviews                    0
last_review                       8998
reviews_per_month                    0
calculated_host_listings_count       0
availability_365                     0
dtype: int64

Save Cleaned Dataset

Save the cleaned dataset for further analysis or model building.

In [20]:
# Export cleaned dataset
cleaned_file_path = r"task2\cleaned_data.csv"
data.to_csv(cleaned_file_path, index=False)
print(f"\nCleaned data saved to {cleaned_file_path}")

Cleaned data saved to task2\cleaned_data.csv

Conclusion

We have successfully cleaned the NYC Airbnb dataset by:
1. Handling missing values.
2. Removing duplicates.
3. Standardizing data formats.
4. Detecting and addressing outliers.
5. Optimizing data types.

The cleaned data is saved as `cleaned_airbnb_data.csv` for future use